<h1>Edit Profile</h1>

<% if @user.errors.any? %>
<%= @user.errors.full_messages %>

<% end %>

<%= form_with model: @user, method: "patch" do |form| %>
   <div>
   <%= form.label :username %><br>
   <%= form.text_field :username %><br><br>
   <%= form.label :email %><br>
   <%= form.text_field :email%><br><br>
   <%= form.label :password %><br>
   <%= form.text_field :password %><br><br>
   <%= form.submit "Submit",user: @user%>

   </div>

<% end %>